<section class="cars">

    <div class="intro">

        <div class="showing">showing 6 of 20 cars  </div>
        <div class="styles">
            <a href="Car-Grid.html" class="fas fa-th"></a>
            <a href="Car-List.html" class="fas fa-list"></a>               
        </div>
        <div class="sorting-type">
            <select name="sort" id="sort">
                <option value="default">default sorting</option>
                <option value="name, A to Z">sort by popularity</option>
                <option value="mname, Z to A">sort by latest</option>
                <option value="price, low to high">sort by average price</option>
                <option value="price, low to high">sort by price: low to high</option>
                <option value="price, high to low">sort by price: high to low</option>
            </select>
        </div>
    </div> 

    <div class="car-container grid">
        
        <div class="car-item"> 
            <div class="image">
                <img src="../../assets/images/Cars/Cars/Car-1.jpg" alt="">
                <div class="price">$100<span>/day</span></div>
            </div>
            <div class="content">
                <a href="Single-Car.html"><h2>Porsche 911 Gt3</h2></a> 
                <div class="details">
                    <h3><i class="fa-solid fa-car"></i><span>2023</span></h3>
                    <h3><i class="fa-solid fa-user-group"></i><span>2 people</span></h3>
                    <h3><i class="fa-solid fa-suitcase-rolling"></i><span>1 luggage</span></h3>
                    <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                    <h3><i class="fa-solid fa-gas-pump"></i><span>Petrol</span></h3>
                    <h3><i class="fa-solid fa-road"></i><span>7.4 kmpl</span></h3>
                </div> 
                <a href="Cart.html" class="btn">rent car</a>
            </div>
        </div>

        <div class="car-item"> 
            <div class="image">
                <img src="../../assets/images/Cars/Cars/Car-2.jpg" alt="">
                <div class="price">$150<span>/day</span></div>
            </div>
            <div class="content">
                <a href="Single-Car.html"><h2>Infiiti Fx35</h2></a> 
                <div class="details">
                    <h3><i class="fa-solid fa-car"></i><span>2005</span></h3>
                    <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                    <h3><i class="fa-solid fa-suitcase-rolling"></i><span>1 luggage</span></h3>
                    <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                    <h3><i class="fa-solid fa-gas-pump"></i><span>Electronic</span></h3>
                    <h3><i class="fa-solid fa-road"></i><span>7 kmpl</span></h3>
                </div> 
                <a href="Cart.html" class="btn">rent car</a>
            </div>
        </div>

        <div class="car-item"> 
            <div class="image">
                <img src="../../assets/images/Cars/Cars/Car-3.jpg" alt="">
                <div class="price">$200<span>/day</span></div>
            </div>
            <div class="content">
                <a href="Single-Car.html"><h2>BMW M5 Sedan</h2></a> 
                <div class="details">
                    <h3><i class="fa-solid fa-car"></i><span>2023</span></h3>
                    <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                    <h3><i class="fa-solid fa-suitcase-rolling"></i><span>2 luggage</span></h3>
                    <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                    <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                    <h3><i class="fa-solid fa-road"></i><span>9.12 kmpl</span></h3>
                </div> 
                <a href="Cart.html" class="btn">rent car</a>
            </div>
        </div>

        <div class="car-item"> 
            <div class="image">
                <img src="../../assets/images/Cars/Cars/Car-4.jpg" alt="">
                <div class="price">$125<span>/day</span></div>
            </div>
            <div class="content">
                <a href="Single-Car.html"><h2>BMW X5</h2></a> 
                <div class="details">
                    <h3><i class="fa-solid fa-car"></i><span>2022</span></h3>
                    <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                    <h3><i class="fa-solid fa-suitcase-rolling"></i><span>3 luggage</span></h3>
                    <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                    <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                    <h3><i class="fa-solid fa-road"></i><span>13.38 kmpl</span></h3>
                </div> 
                <a href="Cart.html" class="btn">rent car</a>
            </div>
        </div>

        <div class="car-item"> 
            <div class="image">
                <img src="../../assets/images/Cars/Cars/Car-5.jpg" alt="">
                <div class="price">$175<span>/day</span></div>
            </div>
            <div class="content">
                <a href="Single-Car.html"><h2>volvo Xc60</h2></a> 
                <div class="details">
                    <h3><i class="fa-solid fa-car"></i><span>2021</span></h3>
                    <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                    <h3><i class="fa-solid fa-suitcase-rolling"></i><span>4 luggage</span></h3>
                    <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                    <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                    <h3><i class="fa-solid fa-road"></i><span>11.2 kmpl</span></h3>
                </div> 
                <a href="Cart.html" class="btn">rent car</a>
            </div>
        </div>

        <div class="car-item"> 
            <div class="image">
                <img src="../../assets/images/Cars/Cars/Car-6.jpg" alt="">
                <div class="price">$145<span>/day</span></div>
            </div>
            <div class="content">
                <a href="Single-Car.html"><h2>Mercedes AMG G63</h2></a> 
                <div class="details">
                    <h3><i class="fa-solid fa-car"></i><span>2022</span></h3>
                    <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                    <h3><i class="fa-solid fa-suitcase-rolling"></i><span>5 luggage</span></h3>
                    <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                    <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                    <h3><i class="fa-solid fa-road"></i><span>6.89 kmpl</span></h3>
                </div> 
                <a href="Cart.html" class="btn">rent car</a>
            </div>
        </div>

    </div>

    <div class="pages-no">
        <div class="container">
            <div class="item">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="numbers">
                <div class="item active">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>
            <div class="item">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div> 

    </div>

</section>
