<div class="page-title">
  <div class="title">
    <h2>Change Password</h2>
  </div>
  <div class="link">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
      <i class="fa-solid fa-house-chimney"></i> Home
    </a>
    <i class="fa-solid fa-angle-right"></i>
    <span class="page">Change Password</span>
  </div>
</div>

<section class="login">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="account-form">
    <div class="input-field">
      <label for="oldPassword" class="fas fa-lock"></label>
      <input [type]="showOldPassword ? 'text' : 'password'"
             formControlName="oldPassword" 
             placeholder="Enter your old password" 
             id="oldPassword" 
             class="box"
             [ngClass]="{ 'is-invalid': isInvalid('oldPassword') }" />
      <div class="password-toggle" (click)="togglePasswordVisibility('old')">
        <i class="fas" [ngClass]="{'fa-eye': showOldPassword, 'fa-eye-slash': !showOldPassword}"></i>
      </div>
    </div>
    <div *ngIf="isInvalid('oldPassword')" class="error-message">
      {{ getFormError('oldPassword') }}
    </div>

    <div class="input-field">
      <label for="newPassword" class="fas fa-lock"></label>
      <input [type]="showNewPassword ? 'text' : 'password'"
             formControlName="newPassword" 
             placeholder="Enter your new password" 
             id="newPassword" 
             class="box"
             [ngClass]="{ 'is-invalid': isInvalid('newPassword') }" />
      <div class="password-toggle" (click)="togglePasswordVisibility('new')">
        <i class="fas" [ngClass]="{'fa-eye': showNewPassword, 'fa-eye-slash': !showNewPassword}"></i>
      </div>
    </div>
    <div *ngIf="isInvalid('newPassword')" class="error-message">
      {{ getFormError('newPassword') }}
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn" id="change-password-btn">Change Password</button>
  </form>
</section>
