 <!-- ==================== Page-Title (Start) ==================== -->
 <div class="page-title">

    <div class="title">
      <h2>Reset Password</h2>
    </div> 

    <div class="link">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-house-chimney"></i> Home</a>
      <i class="fa-solid fa-angle-right"></i>
      <span class="page">Reset Password</span>
    </div>

  </div>
  <!-- ==================== Page-Title (End) ==================== -->


    
  <!-- ==================== Reset-Password Area (Start) ==================== -->
  <section class="reset-pwd"> 

    <form class="account-form" action="https://elitecars-html.asdesignsgalaxy.com/pages/Pages/example.php">
      <div class="icon"><i class="fa-solid fa-user"></i></div>
      <h3>forgot password!</h3>
      <div class="input-field">
        <label for="email" class="far fa-envelope"></label>
        <input type="email" name="email" placeholder="enter your email" id="email" class="box">
      </div>
      <button type="submit" class="btn" name="reset-link" id="reset-link">send reset link</button>
      <p>don't have an account? <a class="link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">register</a></p>
    </form>
  
  </section>
  <!-- ==================== Reset-Password Area (End) ==================== -->