<div class="page-title">

  <div class="title">
    <h2>login</h2>
  </div>

  <div class="link">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><i
        class="fa-solid fa-house-chimney"></i> Home</a>
    <i class="fa-solid fa-angle-right"></i>
    <span class="page">login</span>
  </div>

</div>
<!-- ==================== Page-Title (End) ==================== -->


<!-- ==================== Login Area (Start) ==================== -->
<!-- Success Message -->

<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<section class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="account-form">
    <div class="icon"><i class="fa-solid fa-user"></i></div>
    <h3>login</h3>

    <div class="input-field">
      <label for="email" class="far fa-envelope"></label>
      <input type="email" formControlName="email" placeholder="enter your email" id="email" class="box"
        [ngClass]="{ 'is-invalid': isInvalid('email') }" />
      <div class="invalid-feedback" *ngIf="isInvalid('email')">
        {{ getFormError('email', 'Email') }}
      </div>
    </div>

    <div class="input-field">
      <label for="password" class="fas fa-lock"></label>
      <input type="password" formControlName="password" placeholder="enter your password" id="password" class="box"
        [ngClass]="{ 'is-invalid': isInvalid('password') }" />
      <div class="invalid-feedback" *ngIf="isInvalid('password')">
        {{ getFormError('password', 'Password') }}
      </div>
    </div>

    <button type="submit" class="btn" id="login-btn">login</button>
    <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
    <p>don't have an account? <a class="link" routerLink="/register" routerLinkActive="active"
        ariaCurrentWhenActive="page">register</a></p>
  </form>
</section>


<!-- ==================== Login Area (End) ==================== -->