<body>

    <!-- ==================== Scroll-Top Area (Start) ==================== -->
    <a href="#" class="scroll-top">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
    <!-- ==================== Scroll-Top Area (End) ==================== -->

    

    <!-- ==================== Header Area (Start) ==================== -->
    <header>

        <!-- ===== Header Area (Start) ===== -->
        <div class="header">

            <div class="header-1">
    
                <ul class="header-contacts">
                    <li><i class="fas fa-phone"></i><span>+111-222-333</span></li>
                    <li><i class="fas fa-envelope"></i><span class="gmail">abcgmailcom</span></li>
                </ul>
        
                <!-- Contacts -->
                <ul class="social-contacts">
                    <li><a href="#" class="fab fa-facebook-f"></a></li>
                    <li><a href="#" class="fa-brands fa-x-twitter"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
    
            </div>
    
            <div class="header-2">
    
                <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>
        
                <!-- Logo --> 
                <a class="logo" href="../../index-2.html">
                    <img src="../../assets/images/Logo/Logo.png" alt="logo">
                    <div class="logo-name">
                        <h3><span>Elite</span>Cars</h3>
                        <p>car rental service</p>
                    </div>
                </a>
        
                <div class="container">
        
                    <!-- Navbar --> 
                    <nav class="navbar">
        
                        <a class="nav-btn" href="../../index-2.html">home</a>
            
                        <div class="dropdown-menu">
                            <button class="nav-btn">about <i class="fas fa-angle-down"></i> </button>
                            <div class="dropdown-content">
                                <a href="../About/About.html">about us</a>
                                <a href="../About/Team.html">team</a>
                                <a href="../About/Testimonials.html">testimonials</a>
                                <a href="../About/Faqs.html">faqs</a>
                            </div>
                        </div>
            
                        <div class="dropdown-menu">
                            <button class="nav-btn">Pages <i class="fas fa-angle-down"></i> </button>
                            <div class="dropdown-content">
                                <a href="../Pages/Sevices.html">Services</a>
                                <a href="../Pages/Single-Service.html">Single Service</a>
                                <a href="../Pages/Gallery.html">Gallery</a>
                                <a href="../Pages/Login.html">login</a>
                                <a href="../Pages/Register.html">register</a>
                                <a href="../Pages/Reset-Password.html">forgotPwd</a>
                            </div>
                        </div>
            
                        <div class="dropdown-menu">
                            <button class="nav-btn">cars <i class="fas fa-angle-down"></i> </button>
                            <div class="dropdown-content">
                                <a href="Car-Grid.html">car grid</a>
                                <a href="Car-List.html">car list</a>
                                <a href="Single-Car.html">single car</a>
                                <a href="Cart.html">cart</a>
                                <a href="Checkout.html">checkout</a>
                            </div>
                        </div>
            
                        <div class="dropdown-menu">
                            <button class="nav-btn">blog <i class="fas fa-angle-down"></i> </button>
                            <div class="dropdown-content">
                                <a href="../Blog/Blog-Grid.html">blogs grid</a>
                                <a href="../Blog/Blog-List.html">blogs list</a>
                                <a href="../Blog/Single-Blog.html">single blog</a>
                            </div>
                        </div>
            
                        <a class="nav-btn" href="../Contact/contact.html">contact</a>
            
                    </nav> 
        
                    <a href="Car-Grid.html" class="btn">Rent Car</a>
        
                </div>
    
            </div>
    
        </div>
        <!-- ===== Header Area (Ends) ===== -->

        <!-- ===== Mobile Menu Area (Start) ===== -->
        <div class="mobile-menu"> 

            <div id="close-side-bar" class="fa-solid fa-angles-left"></div> 
        
            <nav class="mobile-navbar">
    
                <div class="nav-link">
                    <div class="main-nav-link"> <a class="nav-btn" href="../../index-2.html">home</a> </div>
                </div>   
        
                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">about</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../About/About.html">about us</a>
                        <a href="../About/Team.html">team</a>
                        <a href="../About/Testimonials.html">testimonials</a>
                        <a href="../About/Faqs.html">faqs</a>
                    </div>
                </div> 
        
                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">pages</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../Pages/Sevices.html">Services</a>
                        <a href="../Pages/Single-Service.html">Single Service</a>
                        <a href="../Pages/Gallery.html">Gallery</a>
                        <a href="../Pages/Login.html">login</a>
                        <a href="../Pages/Register.html">register</a>
                        <a href="../Pages/Reset-Password.html">forgotPwd</a>
                    </div>
                </div> 
        
                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">cars</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="Car-Grid.html">car grid</a>
                        <a href="Car-List.html">car list</a>
                        <a href="Single-Car.html">single car</a>
                        <a href="Cart.html">cart</a>
                        <a href="Checkout.html">checkout</a>
                    </div>
                </div> 
                
                <div class="nav-link">
                    <div class="main-nav-link"> <div class="nav-btn">blog</div> <i class="fas fa-plus"></i> </div>
                    <div class="sub-nav-link">
                        <a href="../Blog/Blog-Grid.html">blogs grid</a>
                        <a href="../Blog/Blog-List.html">blogs list</a>
                        <a href="../Blog/Single-Blog.html">single blog</a>
                    </div>
                </div> 
        
                <div class="nav-link">
                    <div class="main-nav-link"> <a class="nav-btn" href="../Contact/contact.html">contact</a> </div>
                </div>  
    
            </nav>
        
        </div>
        <!-- ===== Mobile Menu Area (Ends) ===== -->

    </header>
    <!-- ==================== Header Area (End) ==================== -->


    
    <!-- ==================== Page-Title (Start) ==================== -->
    <div class="page-title">

        <div class="title">
            <h2>Car Grid</h2>
        </div> 
   
        <div class="link">
            <a href="../../index-2.html"><i class="fa-solid fa-house-chimney"></i> Home</a>
            <i class="fa-solid fa-angle-right"></i>
            <span class="page">Car Grid</span>
        </div>
  
    </div>
    <!-- ==================== Page-Title (End) ==================== -->
   


   <!-- ==================== Search-Car Area (Start) ==================== --> 
   <section class="search-car">

        <h4>search cars</h4>

        <form action="https://elitecars-html.asdesignsgalaxy.com/pages/Cars/example.php" id="search-car">

            <div class="box">
                <div class="input-field">
                    <select name="car-make" id="car-make">
                        <option value="all" style="display: none;">car make</option>
                        <option value="acura">Acura</option>
                        <option value="bmw">BMW</option>
                        <option value="audi">Audi</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="honda">Honda</option>
                        <option value="hyundai">Hyundai</option>
                        <option value="ford">Ford</option>
                        <option value="infiniti">Infiniti</option>
                        <option value="porsche">Porsche</option>
                        <option value="mercedes">Mercedes-Benz</option>
                    </select>
                    <label for="car-make" class="fa-solid fa-angle-down"></label> 
                </div>
            </div>

            <div class="box">
                <div class="input-field">
                    <select name="car-type" id="car-type">
                        <option value="all" style="display: none;">car type</option>
                        <option value="convertible">Convertible</option>
                        <option value="sports">Sports Car</option>
                        <option value="suv">SUV</option>
                        <option value="mini">Mini Van</option>
                        <option value="hatchback">Hatchback</option>
                    </select>
                    <label for="car-type" class="fa-solid fa-angle-down"></label>
                </div>
            </div>

            <div class="box">
                <div class="input-field">
                    <select name="models" id="models">
                        <option value="all">all models</option>
                        <option value="model-1">model-1</option>
                        <option value="model-2">model-2</option>
                        <option value="model-3">model-3</option>
                        <option value="model-4">model-4</option>
                        <option value="model-5">model-5</option>
                    </select>
                    <label for="models" class="fa-solid fa-angle-down"></label>
                </div>
            </div>

            <div class="box">
                <a href="#" class="btn">search</a>
            </div>

        </form>

    </section>   
    <!-- ==================== Search-Car Area (End) ==================== --> 
 


    <!-- ==================== Car-Grid Area (Start) ==================== -->
    <section class="cars">

        <div class="intro">

            <div class="showing">showing 6 of 20 cars  </div>
            <div class="styles">
                <a href="Car-Grid.html" class="fas fa-th"></a>
                <a href="Car-List.html" class="fas fa-list"></a>               
            </div>
            <div class="sorting-type">
                <select name="sort" id="sort">
                    <option value="default">default sorting</option>
                    <option value="name, A to Z">sort by popularity</option>
                    <option value="mname, Z to A">sort by latest</option>
                    <option value="price, low to high">sort by average price</option>
                    <option value="price, low to high">sort by price: low to high</option>
                    <option value="price, high to low">sort by price: high to low</option>
                </select>
            </div>
        </div> 

        <div class="car-container grid">
            
            <div class="car-item"> 
                <div class="image">
                    <img src="../../assets/images/Cars/Cars/Car-1.jpg" alt="">
                    <div class="price">$100<span>/day</span></div>
                </div>
                <div class="content">
                    <a href="Single-Car.html"><h2>Porsche 911 Gt3</h2></a> 
                    <div class="details">
                        <h3><i class="fa-solid fa-car"></i><span>2023</span></h3>
                        <h3><i class="fa-solid fa-user-group"></i><span>2 people</span></h3>
                        <h3><i class="fa-solid fa-suitcase-rolling"></i><span>1 luggage</span></h3>
                        <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                        <h3><i class="fa-solid fa-gas-pump"></i><span>Petrol</span></h3>
                        <h3><i class="fa-solid fa-road"></i><span>7.4 kmpl</span></h3>
                    </div> 
                    <a href="Cart.html" class="btn">rent car</a>
                </div>
            </div>

            <div class="car-item"> 
                <div class="image">
                    <img src="../../assets/images/Cars/Cars/Car-2.jpg" alt="">
                    <div class="price">$150<span>/day</span></div>
                </div>
                <div class="content">
                    <a href="Single-Car.html"><h2>Infiiti Fx35</h2></a> 
                    <div class="details">
                        <h3><i class="fa-solid fa-car"></i><span>2005</span></h3>
                        <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                        <h3><i class="fa-solid fa-suitcase-rolling"></i><span>1 luggage</span></h3>
                        <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                        <h3><i class="fa-solid fa-gas-pump"></i><span>Electronic</span></h3>
                        <h3><i class="fa-solid fa-road"></i><span>7 kmpl</span></h3>
                    </div> 
                    <a href="Cart.html" class="btn">rent car</a>
                </div>
            </div>

            <div class="car-item"> 
                <div class="image">
                    <img src="../../assets/images/Cars/Cars/Car-3.jpg" alt="">
                    <div class="price">$200<span>/day</span></div>
                </div>
                <div class="content">
                    <a href="Single-Car.html"><h2>BMW M5 Sedan</h2></a> 
                    <div class="details">
                        <h3><i class="fa-solid fa-car"></i><span>2023</span></h3>
                        <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                        <h3><i class="fa-solid fa-suitcase-rolling"></i><span>2 luggage</span></h3>
                        <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                        <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                        <h3><i class="fa-solid fa-road"></i><span>9.12 kmpl</span></h3>
                    </div> 
                    <a href="Cart.html" class="btn">rent car</a>
                </div>
            </div>

            <div class="car-item"> 
                <div class="image">
                    <img src="../../assets/images/Cars/Cars/Car-4.jpg" alt="">
                    <div class="price">$125<span>/day</span></div>
                </div>
                <div class="content">
                    <a href="Single-Car.html"><h2>BMW X5</h2></a> 
                    <div class="details">
                        <h3><i class="fa-solid fa-car"></i><span>2022</span></h3>
                        <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                        <h3><i class="fa-solid fa-suitcase-rolling"></i><span>3 luggage</span></h3>
                        <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                        <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                        <h3><i class="fa-solid fa-road"></i><span>13.38 kmpl</span></h3>
                    </div> 
                    <a href="Cart.html" class="btn">rent car</a>
                </div>
            </div>

            <div class="car-item"> 
                <div class="image">
                    <img src="../../assets/images/Cars/Cars/Car-5.jpg" alt="">
                    <div class="price">$175<span>/day</span></div>
                </div>
                <div class="content">
                    <a href="Single-Car.html"><h2>volvo Xc60</h2></a> 
                    <div class="details">
                        <h3><i class="fa-solid fa-car"></i><span>2021</span></h3>
                        <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                        <h3><i class="fa-solid fa-suitcase-rolling"></i><span>4 luggage</span></h3>
                        <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                        <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                        <h3><i class="fa-solid fa-road"></i><span>11.2 kmpl</span></h3>
                    </div> 
                    <a href="Cart.html" class="btn">rent car</a>
                </div>
            </div>

            <div class="car-item"> 
                <div class="image">
                    <img src="../../assets/images/Cars/Cars/Car-6.jpg" alt="">
                    <div class="price">$145<span>/day</span></div>
                </div>
                <div class="content">
                    <a href="Single-Car.html"><h2>Mercedes AMG G63</h2></a> 
                    <div class="details">
                        <h3><i class="fa-solid fa-car"></i><span>2022</span></h3>
                        <h3><i class="fa-solid fa-user-group"></i><span>5 people</span></h3>
                        <h3><i class="fa-solid fa-suitcase-rolling"></i><span>5 luggage</span></h3>
                        <h3><i class="fa-solid fa-gear"></i><span>automatic</span></h3>
                        <h3><i class="fa-solid fa-gas-pump"></i><span>Gasoline</span></h3>
                        <h3><i class="fa-solid fa-road"></i><span>6.89 kmpl</span></h3>
                    </div> 
                    <a href="Cart.html" class="btn">rent car</a>
                </div>
            </div>

        </div>

        <div class="pages-no">
            <div class="container">
                <div class="item">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="numbers">
                    <div class="item active">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                </div>
                <div class="item">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div> 

        </div>

    </section>
    <!-- ==================== Car-Grid Area (End) ==================== -->
    

